<div class="bandeau">
    <span>Voy'agir sera une plate-forme collaborative engagée pour un tourisme responsable</span>
    <a href="http://facebook.com/voyagir" target="_blank" data-toggle="tooltip" title="Voyagir sur Facebook!"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/marinethica" target="_blank" data-toggle="tooltip" title="Voyagir sur Twitter!"><i class="fa fa-twitter"></i></a>
</div>