<div id="banner">
    <img src="{{ asset('img/logo_white.png') }}" class="logo">
    
    <a href="#keywords">Projet</a>
    <a href="#contact">Contact</a>
    <a href="http://facebook.com/voyagir" target="_blank" data-toggle="tooltip" 
       title="Voyagir sur Twitter!" class="icon facebook">
    </a>
    <a href="https://twitter.com/voyagir" target="_blank" data-toggle="tooltip" 
       title="Voyagir sur Facebook!" class="icon twitter">
    </a>
</div>