<div id="banner">
    <img src="{{ asset('img/logo_white.png') }}" class="logo">
    
    <a href="#keywords">Projet</a>
    <a href="#contact">Contact</a>
    <a href="http://facebook.com/voyagir" target="_blank" data-toggle="tooltip" title="Voyagir sur Facebook!">
        <img src="{{ asset('/img/twitter-15b.png') }}" class="bullet" />
    </a>
    <a href="https://twitter.com/marinethica" target="_blank" data-toggle="tooltip" title="Voyagir sur Twitter!">
        <img src="{{ asset('/img/facebook-15b.png') }}" class="bullet" />
    </a>
    
</div>