<div class="bandeau">
    <ul class="list-inline">
        <li><a href="#">HOME</a></li>
        <li><a href="#">the project</a></li>
        <li><a href="#">the team</a></li>
        <li><a href="#">Participer</a></li><li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul>
</div>