<div id="keywords"> 
    <p>Choisissez, découvrez et partagez des hébergements et des activités de rêve, engagés pour un tourisme durable, qui respecte :</p>
    <div class="container-1">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="feature text-center">
                    <img src="{{ asset("/img/together.png")}}" alt="ensemble responsables" width="100">
                    <h4>l'environnement <i class="fa fa-check-circle-o"></i></h4>
                    <p>Grumpy wizards make toxic brew for the evil Queen and Jack. One morning, when Gregor Samsa woke from troubled dreams,  </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="feature text-center">
                    <img src="{{ asset("/img/together.png")}}" alt="ensemble responsables" width="100">
                    <h4>les sociétés locales <i class="fa fa-check-circle-o"></i></h4>
                    <p>Grumpy wizards make toxic brew for the evil Queen and Jack. One morning, when Gregor Samsa woke from troubled dreams,</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="feature text-center">
                    <img src="{{ asset("/img/together.png")}}" alt="ensemble responsables" width="100">
                    <h4>votre satisfaction <i class="fa fa-check-circle-o"></i></h4>
                    <p>Grumpy wizards make toxic brew for the evil Queen and Jack. One morning, when Gregor Samsa woke from troubled dreams, </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="feature text-center">
                    <img src="{{ asset("/img/together.png")}}" alt="ensemble responsables" width="100">
                    <h4>votre budget <i class="fa fa-check-circle-o"></i></h4>
                    <p>Grumpy wizards make toxic brew for the evil Queen and Jack. One morning, when Gregor Samsa woke from troubled dreams, </p>
                </div>
            </div>
        </div>
    </div>
    <p>au bout du monde... ou à côté de chez vous.</p>

</div>