<div id="footer">
    <p>
        Ce site est une page de présentation du projet Voy'Agir, il est en 
        constante évolution, vers une version beta de la plateforme 
        collaborative dynamique qui correspondra à vos envies et besoins.
        Aidez-nous à les comprendre et co-construisons ensemble.
    </p>
</div>