<section id="keywords"> 
    <h1 class="text-center">La première plateforme collaborative pour voyager
                            de manière responsable
    </h1>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <img src="{{ asset("/img/terre-15b.png")}}" alt="Voyager" />
                    <div class="small-screen">&nbsp</div>
                    <h2>VOYAGIR</h2>
                    <p>Parcourez le monde dans le respect de la planète
                        et de ses habitants, découvrez les plus belles cultures
                        et les plus beaux paysages en faisant du mieux possible
                        pour les protéger, apprenez à chaque fois un peu mieux
                        comment améliorer votre impact.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <img src="{{ asset("/img/map-15r.png")}}" alt="Organiser" />
                    <div class="small-screen">&nbsp</div>
                    <h2>ORGANISER</h2>
                    <p>Sélectionnez les établissements de votre voyage en
                        fonction des critères qui vous tiennent à cœur: respect 
                        de la biodiversité, gestion des déchets, rémunérations 
                        des employés locaux, respect des traditions locales… 
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <img src="{{ asset("/img/partage-15j.png")}}" alt="Partager" />
                    <div class="small-screen">&nbsp</div>
                    <h2>PARTAGER</h2>
                    <p>Signalez les établissements et les endroits qui ont 
                        attiré votre attention par leur engagement environnemental,
                        social ou culturel. Partagez vos coups de cœurs,
                        vos bonnes pratiques, vos conseils et vos coups de gueule
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <img src="{{ asset("/img/dreamcatcher-15b.png")}}" alt="Rêver" />
                    <div class="small-screen">&nbsp</div>
                    <h2>RÊVER</h2>
                    <p>Participer à un monde où il est facile de voyager de 
                        manière responsable, flâner sur les profils des autres 
                        voyageurs pour imaginer votre prochain voyage, faites 
                        la liste de vos destinations rêvées, découvrez tous les
                        moyens pour continuer à voyager sans abîmer notre 
                        patrimoine culturel et naturel…
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>