{% extends 'base.html.twig' %}

{% block body %}
    
    {% include "landing/banner.html.twig" %}
    <img src="{{ asset('img/barque.jpg') }}" class="background-image">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div id="main-bubble">
                    <img src="{{ asset('img/logo.png') }}" class="logo">
                    <p class="important">
                        <img src="{{ asset('img/fr_icon.png') }}" class="flag-img"/>
                        Vous souhaitez suivre le projet? 
                    </p>
                    <p>Suivez-nous sur <a href="http://facebook.com/voyagir" target="_blank">Facebook</a> et bientôt sur www.voyagir.com</p>
                    <p class="important">
                        <img src="{{ asset('img/en_icon.png') }}" class="flag-img"/>
                        Would you like to follow the project?
                    </p>
                    <p>follow us on <a href="http://facebook.com/voyagir" target="_blank">Facebook</a> and soon on www.voyagir.com</p>
                </div>
            </div>
        </div>
    </div>
    {#
    {% include "landing/body.html.twig" %}
    {% include "landing/section1.html" %}
    {% include "landing/section2.html" %}
    {% include "landing/section3.html" %}
    {% include "landing/section4.html" %}
    {% include "landing/section5.html" %}
    #}

{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}