/* Style.css */
body{ 
    margin:0px;
    background: #f8f8f0;
}

a {
    text-decoration: none;
    color:#33CCAF;
}

section{
    height: 100%;
    padding: 5%;
}

.icon {
    display: inline-block;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 12px;
}

.small-screen{
    display: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
    min-width: 250px;
}

#home {
    color: #ebc84c;
    font-family: 'Sue Ellen Francisco', cursive;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    background-origin: border-box;
    //background-color: #f8f8f0;
    padding: 16% 10% 16% 10%;
    text-align: center;
}
.blue-bg{
    border-radius: 25px;
    background: rgba(50, 50, 100, 0.5);
}

#main-form{
    padding-top: 3%;
}

/* Banner */
#banner{
    color: white;
    text-align: right;
    height: 50px;
    background-color: #33ccaf;
    padding: 5px 15px 0 0;
    position: fixed;
    top : 0px;
    width: 100%;
    z-index: 1;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 25px;
    opacity: 0.7;
}
#banner .logo{
    width: 5%;
    display: inline-block;
    float: left;
    position: relative;
    top: -25px;
}

#banner #links{
    display: inline;
}

#banner #links a{
    color: #444485;
    margin-right: 20px;
}

#banner #links a:hover{
    text-decoration: none;
    color: #ebc84c;
}

#banner .icon {
    width: 38px;
    height: 31px;
    top: 4px;
}

#banner .icon.facebook{
    top: 7px;
    background-image: url('../img/facebook-15b.png');
}

#banner .icon.facebook:hover {
    background-image: url('../img/facebook-j.png');
}
    
#banner .icon.twitter {
    background-image: url('../img/twitter-15b.png');
}

#banner .icon.twitter:hover {
    background-image: url('../img/twitter-j.png');
}

#banner .flag {
    width: 30px;
    height: 33px;
    top: 2px;
}


/* Body */
#keywords{
    padding-bottom: 7%;
    font-family: 'Open Sans', cursive;
    color: white;
    background-color: #33ccaf;
}

#keywords h1{
    font-family: 'Sue Ellen Francisco', cursive;
    color: #444485; 
}

.feature h2 {
    font-family: 'Sue Ellen Francisco', cursive;
}
    
.feature img{
    margin-top: 20px;
    margin-right: 10px;
    width: 19%;
    float: left;
    padding-bottom: 50px;
}

.feature p{
    font-size: 1.2em;
}

/* Contact */
#contact{
    font-family: 'Open Sans', cursive;
    background-color: #444485;
    color: #ebc84c;
}

#contact h1 {
    font-family: 'Sue Ellen Francisco', cursive;
    color: #ebc84c;
    padding-top: 2%;
}

#contact h1 span {
    color: #33ccaf;
}

#contact a {
    color: #ebc84c;
}
#contact a:hover {
    text-decoration: none;
    color: #33ccaf;
}

#contact ul{
    list-style-type: none;
    display: table;
    margin: 0 auto;
    font-family: 'Open Sans';
}
#contact ul li{
    vertical-align: middle;
}

#contact .icon{
    width: 3%;
}

.bullet {
    display: inline-block;
    width: 20px;
    height: 20px;
}

/* Footer */
#footer{
    color: #444485;
    background-color: #ebc84c;
    padding: 10px 2% 5px 2%;
    text-align: center;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 20px;
}

/* Mail Chimp */
.btn{
    color: #f8f8f0;
    background-color: #ebc84c;
    border-color: #ebc84c ;
    font-size: 1.6em;
}
.btn:hover {
    background-color: #33ccaf;
    border-color: #33ccaf ;   
    color:#f8f8f0;
}
#home .icon {
    width: 50px;
    display:inline-block;
}

#main-form label{
    font-size: 2em;
}

.icon.facebook{
    top: 14px;
    background-image: url('../img/facebook-j.png');
}

.icon.facebook:hover {
    background-image: url('../img/facebook-v.png');
}
    
.icon.twitter {
    background-image: url('../img/twitter-j.png');
}

.icon.twitter:hover {
    background-image: url('../img/twitter-v.png');
}

#mce-EMAIL{
    width: 20%;
    height: 35px;
    color: #444485;
    font-family: 'Open Sans';
    position: relative;
    bottom: 10px;
}

#mc-embedded-subscribe{
    position: relative;
    bottom: 13px;   
}

#mce-success-response, #mce-error-response, .mce_inline_error{
    font-size: 1.5em;
}

.social-medias{
    margin-top: 5em;
}

/* 480px */
@media (max-width: 480px){
    #mce-EMAIL{
    }
}

/* 768px */
@media (max-width: 768px) {
    body{
        font-size: 1em;
    }
    
    h1{
        font-size: 2.5em;
    }
    
    h2{
        font-size:2.3em;
    }
        
    #mce-EMAIL{
        height: 15px;
        bottom: 0px;
    }
    #mc-embedded-subscribe{
        bottom: 0px;
    }
    
    .small-screen{
        display: block;
    }
    
    .btn {
        font-size: 1.2em;
        padding: 3px 6px;
        margin-right: 5px;
    }
    
    .send img {
        width: 40px;
    }
    
    #home .icon {
        width: 10%;
    }
    #home label {
        font-size: 1.5em;
    }
    
    #contact img{
        width: 100px;
    }
    
    #contact .bullet {
        width: 10px;
        height: 10px;
    }
    
    #banner{
        display: none;
    }
    #footer{
        font-size: inherit;
    }
    .feature p{
        font-size: 1em;
    }
    .feature img{
        padding-bottom: 80px;
    }
}

/*  Ajustement de la partie keywords 
    pour éviter que le texte glisse sous l'image */
@media (min-width: 768px) and (max-width: 992px) {
    .feature img{
        padding-bottom: 100px;
    }
    .feature p{
        font-size: 1em;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .feature img{
        padding-bottom: 50px;
    }
    .feature p{
        font-size: 1em;
    }
}