/* Style.css */
body{ 
    margin:0px;
    background: #f8f8f0;
}

a {
    text-decoration: none;
}

section{
    height: 100%;
    padding: 5%;
}

.icon {
    display: inline-block;
    height: 55px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 15px;
}

.small-screen{
    display: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
    min-width: 200px;
}

#home {
    color: #ebc84c;
    font-family: 'Sue Ellen Francisco', cursive;
    background-color: #f8f8f0;
    margin: 16% 10% 16% 10%;
}

#main-form{
    text-align: center;
    padding-top: 3%;
}

/* Banner */
#banner{
    color: white;
    text-align: right;
    height: 40px;
    background-color: #33ccaf;
    padding: 5px 5% 0% 5%;
}
#banner .logo{
    width: 5%;
    display: inline-block;
    float: left;
    position: relative;
    top: -20px;
}
#banner a{
    color: inherit;
    margin: 0% 0.5% 0% 0%;
}

/* Body */
#keywords{
    padding-bottom: 7%;
    font-family: 'Open Sans', cursive;
    color: white;
    background-color: #33ccaf;
}

#keywords h1{
    font-family: 'Sue Ellen Francisco', cursive;
    color: #444485; 
}

.feature h2 {
    font-family: 'Sue Ellen Francisco', cursive;
}
    
.feature img{
    margin-top: 20px;
    margin-right: 10px;
    width: 19%;
    float: left;
}

/* Section 1 */
#contact{
    font-family: 'Open Sans', cursive;
    background-color: #444485;
    color: #ebc84c;
}

#contact h1 {
    font-family: 'Sue Ellen Francisco', cursive;
    color: #ebc84c;
    padding-top: 2%;
}

#contact h1 span {
    color : #33ccaf;
}

#contact ul{
    list-style-type: none;
    display: table;
    margin: 0 auto;
    font-family: 'Open Sans';
}
#contact ul li{
    vertical-align: middle;
}

#contact .icon{
    width: 3%;
}

.bullet {
    display: inline-block;
    width: 20px;
    height: 20px;
}

/* Mail Chimp */
.btn{
    color: white;
    background-color: #ebc84c;
    border-color: #ebc84c ;
    margin-bottom: 1%;
    font-size: 2em;
}

#home .icon {
    width: 5%;
}

#main-form label{
    font-size: 2em;
}

.icon.facebook{
    top: 18px;
    background-image: url('../img/facebook-j.png');
}

.icon.facebook:hover {
    background-image: url('../img/facebook-v.png');
}
    
.icon.twitter {
    background-image: url('../img/twitter-j.png');
}

.icon.twitter:hover {
    background-image: url('../img/twitter-v.png');
}

#mce-EMAIL{
    width: 20%;
    height: 35px;
    color: #444485;
    font-family: 'Open Sans';
    position: relative;
    bottom: 10px;
}

/* 480px */
@media (max-width: 480px){
    #mce-EMAIL{
    }
}

@media (max-width: 768px) {
    body{
        font-size: 1em;
    }
    
    h1{
        font-size: 1.5em;
    }
        
    #mce-EMAIL{
        height: 15px;
        bottom: 0px;
    }
    
    .small-screen{
        display: block;
    }
    
    .btn {
        font-size: 1.2em;
        padding: 3px 6px;
        margin-right: 5px;
    }
    
    .send img {
        width: 40px;
    }
    
    #home .icon {
        width: 15%;
        height: 30px;
        background-size: 30px;
    }
    #home label {
        font-size: 1.5em;
    }
    
    #contact img{
        width: 100px;
    }
    
    #contact .bullet {
        width: 10px;
        height: 10px;
    }
    
    #banner{
        display: none;
    }
}